body {
  font-family: "Titillium+Web", sans-serif;
  color: #000;
}

div,
p,
ul,
li,
button,
span,
a {
  border-style: border-box;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.main_background {
  background-image: url("/img/img2.png");
  background-position: center;
  background-size: cover;
}

.utp {
  margin: 340px 100px 100px 100px;
}

.utp hr {
  width: 150px;
  height: 5;
  margin-left: -20px;
  line-height: 1;
  margin-top: 0px;
}

.utp .textUtp {
  font-size: 14px;
  margin: 4vh 0 0 8vh;
  letter-spacing: 1px;
}

.utp .zaglavUtp1 {
  font-size: 64px;
  line-height: 0.4;
  opacity: 0.6;
  font-weight: bold;
  letter-spacing: 7px;
}

.utp .zaglavUtp2 {
  font-size: 100px;
  line-height: 1.5;
  font-weight: bold;
}

.utp .zaglavUtp2:after {
  content: "";
  display: block;
  width: 20vh;
  height: 0.5vh;
  background: #000;
  margin: 2vh 0 0 -30px;
}

.utp .button {
  margin: 4vh 0 0 8vh;
  height: 80px;
  width: 350px;
  text-decoration: none;
  font-weight: bold;
  background-color: #fff;
  font-size: 18px;
  border: 2px solid #000;
  cursor: pointer;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.utp .button:hover {
  background: #000;
  color: #FFF;
}
