.main_background {
  background-image: url("/img/img2.png");
  background-position: center;
  background-size: cover;
}

.utp {
  margin: 40% 10% 10% 10%;
  
  .textUtp {
    font-size: 14px;
    margin: 4vh 0 0 8vh;
    letter-spacing: 1px;
  }

  .zaglavUtp1 {
    font-size: 4vw;
    line-height: 0.4;
    opacity: 0.6;
    font-weight: bold;
    // letter-spacing: 0.1em;
  }

  .zaglavUtp2 {
    font-size: 6vw;
    line-height: 1.5;
    font-weight: bold;
    
  }

  .zaglavUtp2:after {
    content: "";
    display: block;
    width: 30vh;
    height: 0.5vh;
    background: #000;
    margin: 2vh 0 0 -5vh;
  }

  .button {
    margin: 4vh 0 0 8vh;
    height: 80px;
    width: 350px;
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
    font-size: 18px;
    border: 2px solid #000;
    cursor: pointer;
    letter-spacing: 0.05em;
    transition: all 0.5s ease;    
  }

  .button:hover {
    background: #000;
    color: #fff;
  }
}

@media only screen and (max-width: 544px){
  .utp .zaglavUtp1{
    font-size: 10vw;
  }
  .utp .zaglavUtp2{
    font-size: 12vw;
  }
  .utp .textUtp {   
    margin: 4vh 0 0 0;    
  }
  .utp .button {
    margin: 4vh 0 0 0;
  }
} 

@media only screen and (max-width: 1200px){
  .utp {
    margin: 20% 10% 10% 10%;
  }
  .utp .zaglavUtp1{
    font-size: 6vw;
  }
  .utp .zaglavUtp2{
    font-size: 7vw;
  }

  .main_background{
    display: none;
  }
}

@media only screen and (max-width: 1600px){
  .utp .zaglavUtp1{
    font-size: 3.5vw;
  }
  .utp .zaglavUtp2{
    font-size: 5.5vw;
  }
} 

